.page-content {
    width: 1017px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 12px 0 12px 0;
}

.main {
    padding-top: 12px;
}

.footer {
    margin-top: auto;
    padding: 10px 0 10px 0;
}
